html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  /* text-align: center; */
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;

}
.wrapper{
  margin: 10px;
}

header {
  position: absolute;
  z-index: 3;
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 20px;
  padding-top: 5px;
  top:0;
  

  }
  .header-row {
      z-index: 1;
      display: grid;
      grid-template-columns: 200px 1fr;
      
      align-items: center;
    }
    .menu-bar {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-items: center;
      align-content: center; 
      list-style: none;
    }
    
      .menu-bar li a {
      color: #949494;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      padding: 10px 20px; 
      }
      .menu-bar .menu-active {
      color:  #E84F92;
      outline: #E84F92;
    }
      .menu-bar .connect {
      background: black;
      color: white;
      border-radius: 30px;
       
    }

  
 .button {
    background-color: #E84F92; 
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 20px;
    font-family:  'Nunito', sans-serif;
  }
  
  .container {
    position: relative;
    text-align: center;
   display: inline-block;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding-top: 140px;
  }
  


  /* .image {
    width: 400px;
    height: 408.62px;
   } */
   .hero-heading {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #E84F92;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 0%;
   }
   .hero-b-heading {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #575757;
    align-items: center;
    text-align: center;
    padding: 20px;
   }
   .center-heading {
    text-align: center;
    font-family:  'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    color: #626262;
    padding: 20px;

   }

  .heading {
    text-align: left;
    font-family:  'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    color: #626262;
    padding: 20px;

  } 
  .team-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #4F4F4F;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .team-heading2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
    margin-left: 20px;
  }
  .team-logo{
    margin-top: 10px;
    margin-left: 15px;
  } 
  .slider {
    background-color: #FFF5F5;
    padding: 50px;
   }
   .slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 19px;
    border: white;
    line-height: 1;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
   .slick-dots li.slick-active button:before {
    opacity: 0.4;
    color:  #E84F92;
}
   .slick-dots li button::before {
    font-family: slick;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
}
  .img-fluid{
    padding: 20px 10px;
    box-sizing: border-box;
    background:#E0FFFD;
    border: 1px solid #FFDCDC;
    border-radius: 10px;
    border-spacing: 2px;  
        
  }
  .team-card{
    background-color:  #FFF5F5;
    padding: 30px;
    text-align: left;
  }
  .p-text {
    text-align: left;
    font-family:  'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6E6E6E;
    padding: 20px;
  } 
  .main-accordian {
      padding: 20px;

  }
  #hero-section{
    background-color:  #FFFFFF;
    text-align: center;
    margin-top: 120px;  
  }
  #about-section {
    background-color: #DFF1FA;
    padding: 50px;
  }
  #story-section{
    background-color: #FFFFFF;
    padding: 50px;
  } 
  #adopt-section {
    background-color: #FFF8EE;
    padding: 50px;
  }
  #team-section {
   background-color: #FFF5F5;
   padding: 50px; 
  }
  #question-section {
    background-color: #FFFFFF;
    padding: 50px;
  }

  #gallery-section{
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 10px;

  }
  .gallery-image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    padding: 50px 150px;
    text-align: center;
    
  }
  .image1 {
    background: #FFF8EE;;
    border-radius: 10px;
    padding: 20px 10px;
    border: 1px solid #FFDCDC;
    border-radius: 10px;
    border-spacing: 2px;
    justify-content: center;
    width: 150px;
    height: 100px;
  }
  .center-button {
    text-align: center;
  }

  .paragragh-text {
    font-family: 'Nunito', sans-serif;
  }
  
  .accordion {
    font-family:  'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #626262;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background: rgba(39, 39, 39, 0.03);
    border-radius: 16px;
    margin-top: 15px;
    margin-left: 30px;
  }
  
  .active, .accordion:hover {
    background: rgba(39, 39, 39, 0.03);
    border: 1px solid #E84F92;
    color: #E84F92;
    
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0.5px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  * {
    box-sizing: border-box;
  }
  
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
  
  .column {
    flex: 33.33%;
    padding: 5px;
    float: left;
    
  }
.footer-col{
  padding: 10px;
}
.footer-image1 {
  padding: 50px;
  /* margin: 30px 100px; */
  
}
.left-img {
  padding: 50px;
  margin: -90px -100px;
  
}

  
  .container-fluid {
    background-color: #251F21;
   padding: 50px;

  }
  .line {
    border: solid 1px #E84F92;
    margin-top: 10px;
    margin-bottom: 20px;
  } 
  .cta-footer {
    /* width: 80%;
    height: 60px;
    color: white;
    font-weight: 700;
    background: #E84F92;
    border-radius: 10px; */
    background-color: #E84F92; 
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 20px;
    font-family:  'Nunito', sans-serif;
  }
  .text {
    color:  #E84F92;
  
  }
  